*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.btn {
  display: inline-block;
  padding: 17px 34px 16px;
  border-radius: 6px;
  transition: 0.3 ease;
  text-transform: uppercase;
  text-decoration: none;
}

/* -------TOP-SCREEN-------- */

.top-screen {
  min-height: 782px;
  padding-top: 50px;
  background-image: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url("../images/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 167px;
}

.logo {
  max-width: 255px;
  margin-right: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 30px 0 0;
  padding: 0;
  list-style: none;
}

.menu-item + .menu-item {
  margin-left: 20px;
}

.menu-link {
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.menu-link.active {
  font-weight: 700;
}

.user-block {
  max-width: 255px;
}

.user-block-login-link {
  padding: 11px 29px 12px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s ease;
}

.user-block-login-link:hover {
  color: #ed4c5c;
  background-color: #fff;
}

.hero {
  width: 730px;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  margin: 0 0 39px;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hero-descr {
  max-width: 500px;
  margin: 0 auto 39px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.hero-btn {
  padding: 17px 53px 16px 52px;
  font-weight: 700;
  color: #ed4c5c;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
}

.hero-btn:hover {
  background-color: rgb(240, 188, 188);
}
/* ****** VIDEO SECTION ****** */

.video {
	padding-top: 95px;
	padding-bottom: 95px;
}

.section-inner {
	display: flex;
	align-items: center;
}

.section-column {
	max-width: 540px;
	padding-right: 95px;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin: 0;
	margin-bottom: 25px;
}

.video-descr {
	line-height: 140%;
	text-align: justify;
}

.video-link {
	line-height: 140%;
	color: #ED4C5C;
	text-decoration: none;
}

.video-player {
	width: 445px;
	height: 311px;
	border-radius: 15px;
}
/* ***** Features Section****** */

.features {
	padding-top: 65px;
	padding-bottom: 157px;
	background-color: #fafafa;
}

.features-title {
	margin-bottom: 65px;
	text-align: center;
}

.features-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.features-item {
	width: 350px;
	min-height: 250px;
	margin-bottom: 15%;
	padding: 0 28px;
	background-image: url(/images/features-1-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
}

.features-item:nth-child(2) {
	background-image: url(/images/features-2-bg.png);
}

.features-item:nth-child(3) {
	background-image: url(/images/features-3-bg.png);
}

.features-item-inner {
	width: 293px;
	padding: 33px 32px;
	margin-top: 158px;
	margin-bottom: -100px;
	text-align: center;
	color: #101010;
	background-color: #fff;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}

.features-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 20px;
}

.features-descr {
	font-size: 12px;
	line-height: 150%;
	margin: 0 0 20px 0;
}

.features-link {
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	color: #ED4C5C;
	text-decoration: none;
}